In [1]:
# Data Encoding: converting categorical columns into numerical.
# 1. Nominal Onehot Encoding.
# 2. Labelled and ordinal encoding.
# 3. Target guided ordinal encoding.

In [2]:
# 1.Nominal
# exasple: Single. Maried, Seperated
# single = [1,0,0]
# Merried = [0,1,0]
# seperated = [0,0,1]
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.DataFrame({
    "Status": ["Singal", "Married","Seperated","Singal", "Married"]
})

In [4]:
df

      Status
0     Singal
1    Married
2  Seperated
3     Singal
4    Married

In [5]:
encoder = OneHotEncoder()

In [6]:
encoder

OneHotEncoder()

In [17]:
encoded_data  = encoder.fit_transform(df[['Status']]).toarray()
encoded_data

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [18]:
encoded_columns  = encoder.get_feature_names_out()
encoded

array(['Status_Married', 'Status_Seperated', 'Status_Singal'],
      dtype=object)

In [19]:
df_encoded = pd.DataFrame(encoded_data, columns=encoded_columns)

In [20]:
df_encoded

   Status_Married  Status_Seperated  Status_Singal
0             0.0               0.0            1.0
1             1.0               0.0            0.0
2             0.0               1.0            0.0
3             0.0               0.0            1.0
4             1.0               0.0            0.0

In [22]:
encoder.transform([['Singal']]).toarray()

C:\Users\ru336\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[0., 0., 1.]])

In [26]:
# The same thing could be done by pandas pd.get_du,,ies()
pd.get_dummies(df[['Status']])

   Status_Married  Status_Seperated  Status_Singal
0           False             False           True
1            True             False          False
2           False              True          False
3           False             False           True
4            True             False          False

In [27]:
pd.get_dummies(df[['Status']], dtype=int)

   Status_Married  Status_Seperated  Status_Singal
0               0                 0              1
1               1                 0              0
2               0                 1              0
3               0                 0              1
4               1                 0              0

In [29]:
pd.concat([df,df_encoded], axis = 1)

      Status  Status_Married  Status_Seperated  Status_Singal
0     Singal             0.0               0.0            1.0
1    Married             1.0               0.0            0.0
2  Seperated             0.0               1.0            0.0
3     Singal             0.0               0.0            1.0
4    Married             1.0               0.0            0.0

In [30]:
#2.
import seaborn as sns
sns.load_dataset('tips')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [38]:
# 2: assign unique data to the categories
# using map or library
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [39]:
label_encoder.fit_transform(df[['Status']])

C:\Users\ru336\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 2, 0])

In [42]:
label_encoder.transform([["Married"]])

C:\Users\ru336\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])

In [44]:
# 3. Otrdinal
# High School 1
# Graduation 2
# PG 3
# PHD 4

In [45]:
from sklearn.preprocessing import OrdinalEncoder

In [48]:
df = pd.DataFrame({
    "Qualifications": ["HS" ,"GR", "PG", "PHD", "GR", "PG"]
})
df

  Qualifications
0             HS
1             GR
2             PG
3            PHD
4             GR
5             PG

In [49]:
encoder  = OrdinalEncoder(categories = [["HS", "GR", "PG", "PHD"]])

In [50]:
encoder.fit_transform(df[["Qualifications"]])

array([[0.],
       [1.],
       [2.],
       [3.],
       [1.],
       [2.]])

In [51]:
encoder.transform([["PG"]])

C:\Users\ru336\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[2.]])

In [52]:
# Target guided ordinal encoded
# relationship with target variable
# when lots of unique categories there
# repalce the category with mean and median of respective groups

In [53]:
df = pd.DataFrame({
    'time': ['lunch', 'breackfast', 'dinner', 'lunch', 'breakfast', 'dinner', 'lunch', 'breakfast', 'dinner'],
    'total_bill': [12, 130, 90, 125, 150, 190, 160, 180, 189]
})
df

         time  total_bill
0       lunch          12
1  breackfast         130
2      dinner          90
3       lunch         125
4   breakfast         150
5      dinner         190
6       lunch         160
7   breakfast         180
8      dinner         189

In [57]:
mean_price = df.groupby('time')['total_bill'].mean().to_dict()
mean_price

{'breackfast': 130.0,
 'breakfast': 165.0,
 'dinner': 156.33333333333334,
 'lunch': 99.0}

In [59]:
df['time_encoded'] = df['time'].map(mean_price)

In [60]:
df

         time  total_bill  time_encoded
0       lunch          12     99.000000
1  breackfast         130    130.000000
2      dinner          90    156.333333
3       lunch         125     99.000000
4   breakfast         150    165.000000
5      dinner         190    156.333333
6       lunch         160     99.000000
7   breakfast         180    165.000000
8      dinner         189    156.333333

In [61]:
# do same with tips dataset